.bucket {
  inline-size: 45ch;
  line-height: 1.2;

  mark {
    background-color: transparent;
    color: var(--color-link);
    text-decoration: underline;
  }
}

.buckets {
  --gap: 2cqi;
  --hover-size: 0;
  --column-gap: var(--gap);
  --row-gap: var(--gap);

  list-style: none;
  padding: var(--gap);
}

.bucket__edit-btn {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
}

.bucket__windshield {
  --border-radius: 1.5em;

  margin-block: 0;
  max-inline-size: 100%;
  padding: 1cqi;
}

.windshield__container {
  aspect-ratio: 18 / 9;
  container-type: inline-size;
}
